/* print stylesheet for contenticious */

* {
    font-family     : serif;
    color           : black;
    background-color: white;
}

#navi { display: none }

html, body, #content {
    width           : 100%;
    margin          : 0;
    padding         : 0;
}
